img {
  width: 100%;
  height: auto;
}

body {
  background-color: #D6D6D6;
  font-family: 'Roboto Mono', monospace;
}

#accueil--div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home--img-cinq {
width: 458px;
height: 386px;
object-fit: cover;
padding-top: 10px;
}

.home--img-six {
width: 452px;
height: 418px;
object-fit: cover;
object-position: right;
padding-top: 10px;
border-radius: 50%;
}

.home--img-sept {
width: 456px;
height: 275px;
object-fit: cover;
margin-bottom: 10px;
}

.home--img-huit {
width: 496px;
height: 239px;
object-fit: cover;
margin-top: 25px;
}

.title--parasite {
position: absolute;
width: 292px;
height: 43px;
left: 202px;
top: 72px;
color: black;
font-family: 'Roboto Mono', monospace;
}

.title--pop {
position: absolute;
width: 272px;
height: 43px;
left: 975px;
top: 267px;
color: white;
font-family: 'Roboto Mono', monospace;
}

.title--meigmata {
font-family: 'Roboto Mono', monospace;
position: absolute;
width: 272px;
height: 43px;
left: 464px;
top: 604px;
color: white;
}

.title--frere {
font-family: 'Roboto Mono', monospace;
position: absolute;
width: 277px;
height: 43px;
left: 953px;
top: 643px;
color: white;
text-align: center;
}

.user {
  margin-right: 20px;
}

.fa-home {
  margin-left: 20px;
}
