img {
  width: 100%;
  height: auto;
  margin: 20px;
}

body {
  background-color: #D6D6D6;
  font-family: 'Roboto Mono', monospace;
}

#accueil--div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#user--connect {
  display: inline-block;
}

.position {
  position: absolute;
  left: 1453px;
  top: 70px;
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.position>a:hover {
	color: #136267;
}

.position>a {
  color: black;
  text-decoration: none;
  display: inline-flex;
  width: 100%;
}

.home--img-cinq {
width: 458px;
height: 386px;
object-fit: cover;
padding-top: 10px;
}

.home--img-six {
width: 452px;
height: 418px;
object-fit: cover;
object-position: right;
padding-top: 10px;
border-radius: 50%;
}

.home--img-sept {
width: 456px;
height: 275px;
object-fit: cover;
margin-bottom: 10px;
}

.home--img-huit {
width: 496px;
height: 239px;
object-fit: cover;
margin-top: 25px;
}

.title--parasite {
position: absolute;
width: 292px;
height: 43px;
left: 266px;
top: 81px;
color: black;
font-family: 'Roboto Mono', monospace;
}

.title--pop {
position: absolute;
width: 272px;
height: 43px;
left: 1136px;
top: 270px;
color: white;
font-family: 'Roboto Mono', monospace;
}

.title--meigmata {
font-family: 'Roboto Mono', monospace;
position: absolute;
width: 272px;
height: 43px;
left: 253px;
top: 669px;
color: white;
}

.title--frere {
font-family: 'Roboto Mono', monospace;
position: absolute;
width: 410px;
height: 35px;
left: 1040px;
top: 656px;
color: white;
text-align: center;
}

.user {
  margin-right: 20px;
}

.hide {
	display: none;
}

.fa-home {
  margin-left: 20px;
}
