img {
  width: 352px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  margin:0;
}

.bar--deux .nav--list {
  position: absolute;
  top: 75px;
  right: 134px;
  z-index: 9;
  padding: 0px;
  background-color: white;
  width: 10%;
  font-size: 18px;
}

.nav-bar a:hover {
	color: #28BDA9;
}

.nav--list .texte {
  text-decoration: none;
	color: #136267;
	font-weight: bold;
	margin: 0;
  display: inline-block;
  padding: 4px;
}

.presentation, .presentation--un {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.presentation--un {
  margin-top: 10px;
  margin-bottom: 10px;
}

.un {
  object-fit: cover;
  object-position: top;
}

.nom {
  position: absolute;
  width: 117px;
  height: 173px;
  left: 579px;
  top: 220px;
  text-align: center;
  line-height: 1.5;
  font-size: 38px;
}

.nom--span {
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
}

.underline {
  text-decoration: underline;
}

.p--pop {
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 19px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

.div--articles {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.frere--para {
  width: 46%;
  justify-content: space-between;
  border: 2px solid #136267;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.artistes {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #136267;
  display: block;
}

.video {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header--slider{
  margin-bottom: 10px;
}

.prec {
  font-size: 22px;
  padding: 2px 15px;
  left: 96px;
  top: 2361px;
  position: absolute;
  z-index: 2;
  background-color: lightgrey;
  border: none;
}

.next {
  font-size: 22px;
  padding: 2px 15px;
  z-index: 2;
  left: 1127px;
  top: 2578px;
  position: absolute;
  background-color: lightgrey;
  border: none;
}
