img {
  width:98%;
  height: 250px;
}

#opa{
  border: 1px solid black;
  padding: 7px;
  right: -30px;
  top: -0px;
  background-color: white;
}

.nav-bar--deux .under-nav-list{
  border:none;
}

.bar--link{
  display: block;
  width: 151px;
  height: 97px;
  border: 1px solid black;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.nav--list a:hover {
  color: #28BDA9;
}

.hide {
  display: none;
}

.div--frere {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.img{
  margin-right: 7px;
  height: 350px;
  width:25%;
}

.nom {
  font-size: 38px;
  text-align: center;
  margin: 38px;
}

.deux{
  object-position: top;
}

.trois{
  object-position: right;
}

.nom--span {
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 1px 1px 2px #136267;
}

.underline {
  text-decoration: underline;
}

.p--pop {
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 19px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

.div--articles {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.frere--para {
  width: 46%;
  justify-content: space-between;
  border: 2px solid #136267;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.artistes {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #136267;
  display: block;
}

.title--concert {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
}

.table {
  /* border: 2px solid #136267; */
  border-radius: 12px;
  padding: 15px 2%;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.table >td{
  padding: 15px;
}

.table>td {
  /* border: 2px solid #136267; */
}

.try{
  display: inline-flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.upcoming{
  width:52%;
}

.sound{
  width:43%;
}

.frame-sound{
  width:88%;
}

.hide{
  display: none;
}

.gros{
  text-transform: uppercase;
  margin-bottom: 31px;
  margin-top: 30px;
}

.underline{
  text-decoration: underline;
}

.date{
  background-color: #566E6E;
  color:white;
}

.heure{
  background-color: #136267;
  color:white;
  box-shadow: 5px 4px 5px #566E6E;
}

.video {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.meig--videos{
  justify-content: center;
}

.header--slider{
  margin-bottom: 7px;
  position: relative;
  margin-top: 7px;
}

.prec {
  font-size: 22px;
  padding: 2px 15px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: lightgrey;
  border: none;
}

.next {
  font-size: 22px;
  padding: 2px 15px;
  position: absolute;
  right:0;
  bottom: 0;
  z-index: 2;
  background-color: lightgrey;
  border: none;
}

.icones--div{
  display: inline-flex;
  flex-direction: row;
  width:100%;
  /* background-color: #6E6E6E; */
  background-color: #A2A2A2;
  justify-content: center;
  margin-bottom: 20px;
}

.icones--div>a {
  align-self: center;
  padding: 10px;
  margin: 0px 10px;
}

.icone1, .icone2{
  font-size: 30px;
  color: white;
}

.us{
  color: white;
  font-size: 16px;
  margin-right: 7px;
}

@media (max-width: 1440px) {

  .contain{
    width:1200;
  }

  #nav-bar--deux .under-nav-list {
    top: 76px;
    right: 87px;
    width: 9%;
  }

  .bar--deux .nav--list {
    top: 76px;
    right: 185px;
    padding: 4px;
    width: 8%;
    text-align: center;
  }

  .presentation--un {
    margin:0;
    margin-top: 6px;
  }

  .video {
    width: 100%;
    text-align: center;
  }

  img {
    width: 98%;
  }
}

@media (max-width: 1200px){
  .presentation--un {
    margin:0;
    margin-top: 6px;
  }
}

@media (max-width: 1024px) {

  #nav-bar--deux .under-nav-list {
    top: 76px;
    right: 68px;
    width: 10%;
    padding:9px;
  }

  .under-nav-list .texte {
    margin:0;
  }

  .bar--deux .nav--list {
    top: 77px;
    right: 147px;
    padding: 4px;
    width: 10%;
    border: 1px solid #136267;
  }

  .p--pop{
    text-align: center;
  }

  .frere--para {
    width: 45%;
  }

  .meig--videos{
    width:360px;
    height: 240px;
  }

  .video{
    width: 100%;
    text-align: center;
  }

  @media (max-width: 768px) {

    /* .contain {
    width: 376px;
    } */

    #nav-bar--deux .under-nav-list {
      top: 76px;
      right: 36px;
      width: 14%;
      padding: 9px;
    }

    .bar--deux .nav--list {
      top: 76px;
      right: 117px;
      padding: 4px;
      width: 13%;
    }

    .frere--para {
      width: 44%;
    }

    .meig--videos {
      width: 270px;
      height: 240px;
    }

    img {
      width: 98%;
    }

    .title--frere {
      left: 243px;
    }
  }

  @media (max-width: 425px){
    .img {
      width:100%;
    }

    .div--frere{
      display:inline-flex;
      flex-direction: column;
    }

    .frere--para {
      width: 100%;
    }

    .tableau {
      border: none;
    }

    #cellule {
      border: none;
    }

    .table {
      margin:0;
      padding: 0;
      width: 102%;
      margin: 15px 0px;
      border-radius: 0px;
    }

    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      position: relative;
      padding-left: 50%;
      margin-top: 5px;
    }

    .table>td{
      border:none;
      border-bottom: 1px solid;
      padding: 22Px;
    }

    td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Concerts :"; }
    td:nth-of-type(2):before { content: "Date :"; }
    td:nth-of-type(3):before { content: "Heure :"; }
    td:nth-of-type(4):before { content: "Adresse :"; }
    td:nth-of-type(5):before { content: "Infos :"; }

  }

  @media (max-width: 375px) {

    .img {
      width:100%;
    }

    #nav-bar--deux .under-nav-list {
      top: 76px;
      right: 0px;
      width: 31%;
      padding: 9px;
      font-size: 18px;
    }

    .bar--deux .nav--list {
      top: 76px;
      right: 82px;
      padding: 2px;
      width: 28%;
      font-size: 18px;
    }

    .bar--deux {
      color: white;
      font-size: 25px;
    }

    #nav-bar--deux> a, #user--connect>a {
      margin: 5px;
    }

    .div--frere{
      display:inline-flex;
      flex-direction: column;
    }

    .margin{
      margin-bottom: 10px;
    }

    .nom {
      font-size: 30px;
      margin-top: 28px;
    }

    .p--pop {
      margin:0;
    }

    .frere--para {
      width: 100%;
      margin-top: 10px;
    }

    .title--concert {
      margin-top: 30px;
    }

    .tableau {
      border: none;
    }

    #cellule {
      border: none;
    }

    .table {
      margin:0;
      padding: 0;
      width: 102%;
      margin: 15px 0px;
      border-radius: 0px;
    }

    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      position: relative;
      padding-left: 50%;
      margin-top: 5px;
    }

    .table>td{
      border:none;
      border-bottom: 1px solid;
      padding: 22Px;
    }

    td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Concerts :"; }
    td:nth-of-type(2):before { content: "Date :"; }
    td:nth-of-type(3):before { content: "Heure :"; }
    td:nth-of-type(4):before { content: "Adresse :"; }
    td:nth-of-type(5):before { content: "Infos :"; }

  }
