img {
  width:98%;
  height: 250px;
}

#opa{
  padding: 0px;
  right: -30px;
  top: -0px;
  background-color: white;
}

.nav-bar--deux .under-nav-list{
  border:none;
}

.bar--link{
  display: block;
  width: 151px;
  height: 97px;
  border: 1px solid black;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.nav--list a:hover {
  color: #28BDA9;
}

.hide {
  display: none;
}

.div--frere {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.img{
  margin-right: 7px;
  height: 350px;
  width:25%;
}

.nom {
  font-size: 38px;
  text-align: center;
  margin: 38px;
}

.deux{
  object-position: top;
}

.trois{
  object-position: right;
}

.nom--span {
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 1px 1px 2px #136267;
}

.underline {
  text-decoration: underline;
}

.p--pop {
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 19px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

.div--articles {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.frere--para {
  width: 46%;
  justify-content: space-between;
  border: 2px solid #136267;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.artistes {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #136267;
  display: block;
}

.title--concert {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
}

.table {
  border-radius: 12px;
  padding: 15px 2%;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.table >td{
  padding: 12px;
}

.try{
  display: inline-flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.upcoming{
  width:54%;
}

.sound{
  width:43%;
}

.frame-sound{
  width:88%;
}

.hide{
  display: none;
}

.gros{
  text-transform: uppercase;
  margin-bottom: 31px;
  margin-top: 30px;
}

.underline{
  text-decoration: underline;
}

.date{
  background-color: #566E6E;
  color:white;
}

.heure{
  background-color: #136267;
  color:white;
  box-shadow: 5px 4px 5px #566E6E;
}

.video {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.meig--videos{
  justify-content: center;
}

.header--slider{
  margin-bottom: 7px;
  position: relative;
  margin-top: 7px;
}

.prec {
  font-size: 22px;
  padding: 2px 15px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: lightgrey;
  border: none;
}

.next {
  font-size: 22px;
  padding: 2px 15px;
  position: absolute;
  right:0;
  bottom: 0;
  z-index: 2;
  background-color: lightgrey;
  border: none;
}

.icones--div{
  display: inline-flex;
  flex-direction: row;
  width:100%;
  background-color: #A2A2A2;
  justify-content: center;
  margin-bottom: 20px;
}

.mus{
  height: 40px;
  width: 40px;
}

.icones--div>a {
  align-self: center;
  padding: 10px;
  margin: 0px 10px;
}

.icone1, .icone2{
  font-size: 30px;
  color: white;
}

.us{
  color: white;
  font-size: 16px;
  margin-right: 7px;
}

@media screen and (max-width: 1921px) {
  .contain {
    width: 1445px;
  }

  .img {
    margin-right: 7px;
    height: 445px;
    width: 25%;
  }

  .nom {
    font-size: 44px;
  }

  .p--pop {
    font-size: 26px;
  }

  .frere--para {
    width: 47%;
    font-size: 24px;
  }

  .artistes {
    font-size: 24px;
  }

  .title--concert{
    font-size: 30px;
  }

  img {
    height: 345px;
  }

  .us{
    font-size: 21px;
  }

  .img--footer {
    width: 345px;
    height: 345px;
  }

  .p--footer{
    font-size: 26px;
    margin-bottom: 0px;
  }

  small {
    font-size: 100%;
  }

  .fa-home, .fa-user{
    font-size: 44px;
  }
}

@media (max-width: 1444px) {

  .contain{
    width:1200;
  }

  .upcoming {
    font-size: 18px;
  }

  .date, .heure{
    width: 11%
  }

  .fa-home, .fa-user {
    font-size: 30px;
  }

  .nom {
    font-size: 40px;
  }

  .img {
    height: 425px;
  }

  .p--pop {
    font-size: 22px;
  }

  .title--concert {
    font-size: 28px;
  }

  .frere--para {
    width: 47%;
    font-size: 22px;
  }

  .artistes {
    font-size: 22px;
  }

  .table >td {
    padding: 10px;
  }

  #nav-bar--deux .under-nav-list {
    top: 76px;
    right: 87px;
    width: 9%;
  }

  .bar--deux .nav--list {
    top: 76px;
    right: 185px;
    padding: 4px;
    width: 8%;
    text-align: center;
  }

  .presentation--un {
    margin:0;
    margin-top: 6px;
  }

  .video {
    width: 100%;
    text-align: center;
  }

  img {
    width: 98%;
  }

  .us {
    font-size: 18px;
  }

  .mail {
    font-size: 18px;
  }

  .p--footer {
    font-size: 22px;
    margin-bottom: 0px;
  }

  .img--footer {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 1199px){
  .presentation--un {
    margin:0;
    margin-top: 6px;
  }
}

@media (max-width: 1024px) {

  #nav-bar--deux .under-nav-list {
    top: 76px;
    right: 68px;
    width: 10%;
    padding:9px;
  }

  .under-nav-list .texte {
    margin:0;
  }

  .bar--deux .nav--list {
    top: 77px;
    right: 147px;
    padding: 4px;
    width: 10%;
    border: 1px solid #136267;
  }

  .p--pop{
    text-align: center;
  }

  .frere--para {
    width: 45%;
  }

  .meig--videos{
    width:360px;
    height: 240px;
  }

  .video{
    width: 100%;
    text-align: center;
  }

  @media (max-width: 768px) {

    .img {
      height: 340px;
    }

    .title--concert {
      font-size: 22px;
    }

    .p--pop {
      font-size: 16px;
    }

    .frere--para {
      width: 47%;
      font-size: 16px;
    }

    .artistes {
      font-size: 18px;
    }

    .try{
      display: block;
    }

    .sound, .upcoming{
      width:100%;
    }

    .nom {
      font-size: 33px;
      text-align: center;
      margin: 20px;
    }

    #nav-bar--deux .under-nav-list {
      top: 76px;
      right: 36px;
      width: 14%;
      padding: 9px;
    }

    .bar--deux .nav--list {
      top: 76px;
      right: 117px;
      padding: 4px;
      width: 13%;
    }

    .frere--para {
      width: 44%;
      margin-top: 10px;
    }

    .meig--videos {
      width: 270px;
      height: 240px;
    }

    .header--slider {
      height: 250px;
  }

    img {
      width: 98%;
      height: 250px;
      object-fit: cover;
      object-position: top;
      margin-bottom: 4px;
    }

    .title--frere {
      left: 243px;
    }

    .date, .heure {
      width: 30%;
    }

    .table >td {
      padding: 6px;
    }

    .us {
      align-self: center;
    }

    .mail {
        font-size: 16px;
    }

    .p--footer {
      font-size: 20px;
      margin-bottom: 0px;
  }

  .img--footer {
      width: 180px;
      height: 180px;
  }

  small {
      font-size: 77%;
  }
  }

  @media (max-width: 425px){
    .img {
      width:100%;
    }

    .div--frere{
      display:inline-flex;
      flex-direction: column;
    }

    .frere--para {
      width: 100%;
    }

    .tableau {
      border: none;
    }

    #cellule {
      border: none;
    }

    .table {
      margin:0;
      padding: 0;
      width: 102%;
      margin: 15px 0px;
      border-radius: 0px;
    }

    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      position: relative;
      padding-left: 50%;
      margin-top: 5px;
    }

    .table>td{
      border:none;
      border-bottom: 1px solid;
      padding: 22Px;
    }

    td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Concerts :"; }
    td:nth-of-type(2):before { content: "Date :"; }
    td:nth-of-type(3):before { content: "Heure :"; }
    td:nth-of-type(4):before { content: "Adresse :"; }
    td:nth-of-type(5):before { content: "Infos :"; }

  }

  @media (max-width: 375px) {

    .img {
      width:100%;
    }

    .nom {
      font-size: 28px;
      margin: 12px;
      font-size: 28px;
    }

    .title--concert {
      font-size: 20px;
    }

    .p--pop {
      font-size: 16px;
      padding-top: 15px;
    }

    #nav-bar--deux .under-nav-list {
      top: 76px;
      right: 0px;
      width: 31%;
      padding: 9px;
      font-size: 18px;
    }

    .bar--deux .nav--list {
      top: 76px;
      right: 82px;
      padding: 2px;
      width: 28%;
      font-size: 18px;
    }

    .bar--deux {
      color: white;
      font-size: 25px;
    }

    #nav-bar--deux> a, #user--connect>a {
      margin: 5px;
    }

    .div--frere{
      display:inline-flex;
      flex-direction: column;
    }

    .margin{
      margin-bottom: 10px;
    }

    .p--pop {
      margin:0;
    }

    .frere--para {
      width: 100%;
      margin-top: 10px;
      font-size: 16px;
    }

    .artistes {
      font-size: 20px;
    }

    .title--concert {
      margin-top: 30px;
    }

    .try {
      display: block;
    }

    .sound, .upcoming {
      width: 100%;
    }

    .us {
      align-self: center;
    }

    .mail {
      font-size: 16px;
    }

    .p--footer {
      font-size: 16px;
      margin-bottom: 0px;
    }

    .img--footer {
      width: 180px;
      height: 180px;
    }

    small {
      font-size: 77%;
    }

    .table>td{
      border:none;
      width:80%;
      margin-right: auto;
      margin-left: auto;
      padding: 22Px;
    }

    .tableau {
      border: none;
    }

    #cellule {
      border: none;
    }

    .table {
      margin:0;
      padding: 0;
      width: 102%;
      margin: 15px 0px;
      border-radius: 0px;
    }

    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      position: relative;
      padding-left: 50%;
      margin-top: 5px;
    }

    td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Concerts :"; }
    td:nth-of-type(2):before { content: "Date :"; }
    td:nth-of-type(3):before { content: "Heure :"; }
    td:nth-of-type(4):before { content: "Adresse :"; }
    td:nth-of-type(5):before { content: "Infos :"; }

  }
