*{
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

.home--main{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.home--img-un {
  width: 1680px;
  height: 401px;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  padding-bottom: 3px;
}

.home--img-deux {
  width: 450px;
  height: 487px;
  /* left: 0px;
  top: 413px; */
}

.home--img-trois {
width: 765px;
height: 487px;
/* left: 429px;
top: 413px; */
}

.home--img-quatre {
width: 450px;
height: 487px;
/* left: 1134px;
top: 413px; */
}

.home--container {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.home--title {
position: absolute;
left: 931px;
top: 286px;
width: 415px;
height: 61px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 66px;
color: #FFF9F9;
z-index: 3;
}
