body {
  margin: 0;
  padding: 0;
}

img {
  width:100%;
  margin-top: 5px;
}

.opacityClass {
  opacity: 0.5;
}

.connexion {
  text-align: center;
  margin-bottom: 20px;
}

.register {
  display: block;
}

.button {
  border-radius: 15px;
  border: none;
  width: 90%;
  height: 43px;
  padding: 10px 10px;
  margin: 5px 0px;
  background-color: #28BDA9;
}

.form {
  margin-top:20px;
}

legend{
  padding:4px;
}

.b-form {
  text-align: center;
  width: 22%;
  margin: auto;
  border: 2px solid #136267;
  border-radius: 12px;
  padding: 10px 2% 20px 2%;
  margin-bottom: 20px;
}

.b-form>input {
  padding: 8px 10px;
  margin: 5px 0px;
  border-radius: 5px;
  border: none;
}

.button-register {
  background-color: grey;
}

.title--register {
  text-align: center;
}

.forget{
  padding: 1px;
  font-size: 12px;
  background-color: cadetblue;
  width: 59%;
  border-radius: 5px;
  margin-top: 5px;
  display: inline-block;
}

.forget>a{
  color: black;
  text-decoration: none;
}

.forget>a:hover{
  color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .b-form {
  width:40%;
  }
}

@media (max-width: 375px) {
  .b-form {
  width:70%;
  }
}
