body {
  background-color: white;
}

img {
  width: 468px;
  height: 246px;
  object-fit: cover;
  object-position: center;
}

.title--img {
clear: both;
object-fit: contain;
object-position: center;
width: 500px;
}

.img-neuf {
  width: 680px;
  height: 291px;
  /*float: left;*/
  object-fit: cover;
  object-position: top;
  margin-bottom: 0px 10px 10px 10px;
  padding-left: 10px;
}

.groupe--img {
  width: 500px;
}

.p--parasite {
  float: right;
  width: 63%;
  font-size: 19px;
  padding: 10px 10px;
  margin: 0;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

.div--parasite {
  width : 100%;
  margin-bottom: 30px;
  margin-top: 12px;
}

.header--slider {
  clear: both;
  height: 250px;
  width: 100%;
}

.five {
  object-fit: cover;
  object-position: top;
}

.para--calendar {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  border: black 1px solid;
  padding: 20px 0px;
  margin-bottom: 15px;
}

.para--parasite {
  width: 45%;
}

.form {
  display: inline-flex;
  flex-direction: column;
  width: 39%
}

.prec {
  font-size: 22px;
  padding: 2px 15px;
  left: 125px;
  top: 937px;
  position: absolute;
  z-index: 2;
  background-color: lightgrey;
  border: none;
}

.next {
  font-size: 22px;
  padding: 2px 15px;
  z-index: 2;
  left: 1485px;
  top: 1155px;
  position: absolute;
  background-color: lightgrey;
  border: none;
}

footer {
  clear: both;
}
