img {
  width: 466px;
  height: 246px;
  object-fit: cover;
  object-position: center;
  margin:0;
}

.bar--deux .nav--list {
  position: absolute;
  top: 75px;
  right: 134px;
  z-index: 9;
  padding: 0px;
  background-color: white;
  width: 10%;
  font-size: 18px;
}

.nav-bar a:hover {
	color: #28BDA9;
}

.nav--list .texte {
  text-decoration: none;
	color: #136267;
	font-weight: bold;
	margin: 0;
  display: inline-block;
  padding: 4px;
}

.title--id {
  width: 926px;
  height: 250px;
  object-fit: cover;
  float: right;
  margin-bottom: 10px;
}

.img--2 {
  width: 345px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  clear: left;
  margin:0;
}

.title--h1{
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  color: #FF2B18;
  font-size: 38px;
}

.header--slider{
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.p--pop {
  clear: both;
  margin-bottom: 40px;
  font-size: 19px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  padding-top:30px;
}

.title--concert {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
}

.table {
  border: 2px solid #136267;
  border-radius: 12px;
  padding: 15px 2%;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.table >td{
  padding: 15px;
}

.table>td {
  border: 2px solid #136267;
}

.prec {
  font-size: 22px;
  padding: 2px 15px;
  left: 124px;
  top: 889px;
  position: absolute;
  z-index: 2;
  background-color: lightgrey;
  border: none;
}

.next {
  font-size: 22px;
  padding: 2px 15px;
  z-index: 2;
  left: 1498px;
  top: 1102px;
  position: absolute;
  background-color: lightgrey;
  border: none;
}
