img {
  width: 353px;
  height: 246px;
  object-fit: cover;
  object-position: center;
}

.bar--deux .nav--list {
  position: absolute;
  top: 75px;
  right: 134px;
  z-index: 9;
  padding: 0px;
  background-color: white;
  width: 10%;
  font-size: 18px;
}

.nav-bar a:hover {
	color: #28BDA9;
}

.nav--list .texte {
  text-decoration: none;
	color: #136267;
	font-weight: bold;
	margin: 0;
  display: inline-block;
  padding: 4px;
}

.title--id {
  width: 650px;
  height: 250px;
  object-fit: cover;
  float: right;
  margin-bottom: 10px;
}

.img--2 {
  width: 335px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  clear: left;
}

.title--h1{
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  color: #9A180E;
  font-size: 38px;
}

.header--slider{
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.p--pop {
  clear: both;
  margin-bottom: 40px;
  font-size: 19px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

.prec {
  font-size: 22px;
  padding: 2px 15px;
  left: 124px;
  top: 655px;
  position: absolute;
  z-index: 2;
  background-color: lightgrey;
  border: none;
}

.next {
  font-size: 22px;
  padding: 2px 15px;
  z-index: 2;
  left: 1486px;
  top: 872px;
  position: absolute;
  background-color: lightgrey;
  border: none;
}
